@import url(https://use.typekit.net/axe1alc.css);
@import url(../node_modules/normalize.css/normalize.css);
@import './_variables.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: english-small-caps, sans-serif;
	display: flex;
	justify-content: center;
	background-color: $primary;
	color: $font-color;
	overflow-x: hidden;
}

#root {
	width: 100%;
}

a {
	text-decoration: none;
}

button {
	border-radius: 4px;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.3s;
	outline: none;

	&:hover,
	&:focus {
		box-shadow: inset 0 0px 4px rgba(black, 0.8);
	}

	&:active {
		box-shadow: inset 0 0px 16px black;
	}
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #666;
}
