@import '../../variables';

.soundplayer {
	display: flex;

	padding: 0 1rem;

	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 9999;

	height: 50px;

	background-color: #111;
	box-shadow: 0 4px 4px black;
	border-radius: 0 4px 4px 0;

	button {
		margin: 0 auto;
		width: 50px;
	}
}
