@import '../../variables';

.form {
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	input {
		text-transform: none;
		display: block;
		width: 100%;
		height: 50px;
		border-radius: 4px;
		padding-left: 1rem;
		outline: none;
		font-size: 1.2rem;
		transition: all 0.2s;
		text-transform: uppercase;
		font-weight: 900;
		border: 1px solid black;
		margin-bottom: 1rem;

		&::placeholder {
			opacity: 1;
			transition: opacity 0.2s;
		}

		&:focus {
			box-shadow: inset 0 0 16px rgba(black, 0.8);

			&::placeholder {
				opacity: 0;
			}
		}
	}

	button[type='submit'] {
		margin-top: 1rem;
		background-color: $accent;
		height: 50px;
		font-size: 2rem;
	}

	label {
		display: block;
		visibility: hidden;
		font-size: 1.2rem;

		transform: translate(80px, -50px) scale(1.2);
		transition: opacity 0.5s ease,
			transform 0.3s cubic-bezier(0.81, 1.91, 0.77, 0.4);
	}

	input:focus + label,
	input:not(:placeholder-shown) + label {
		visibility: visible;
		transform: translate(0px, -90px) scale(1);
	}
}
