@import '../../variables';

.form {
	margin: 0 auto;
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	input,
	select,
	textarea {
		text-transform: none;
		display: block;
		width: 100%;
		height: 50px;
		border-radius: 4px;
		padding-left: 1rem;
		outline: none;
		font-size: 1.2rem;
		transition: all 0.2s;
		font-variant: small-caps;
		font-weight: 900;
		border: 1px solid black;
		margin-bottom: 1rem;

		&::placeholder {
			opacity: 1;
			transition: opacity 0.2s;
		}

		&:focus {
			box-shadow: inset 0 0 16px rgba(black, 0.8);

			&::placeholder {
				opacity: 0;
			}
		}

		&:invalid {
			border-color: red;

			& + label {
				color: red;
			}
		}
	}

	textarea {
		resize: none;
		height: 120px;
		padding: 1rem;
	}

	button[type='submit'] {
		margin-top: 1rem;
		background-color: $accent;
		height: 50px;
		font-size: 2rem;
	}

	label {
		display: block;
		visibility: hidden;
		font-size: 1.2rem;

		transform: translate(80px, -50px) scale(1.2);
		transition: opacity 0.5s ease,
			transform 0.3s cubic-bezier(0.81, 1.91, 0.77, 0.4);
	}

	input:focus + label,
	select:focus + label,
	input:not(:placeholder-shown) + label,
	select:not(:placeholder-shown) + label {
		visibility: visible;
		transform: translate(0px, -90px) scale(1);
	}

	textarea:focus + label,
	textarea:not(:placeholder-shown) + label {
		visibility: visible;
		transform: translate(0px, -160px) scale(1);
	}

	input[type='file'] {
		all: unset;

		& + label {
			all: unset;
			display: block;
			position: relative;
			visibility: hidden;
			opacity: 0;
			transform: translate(-70px, -26px);
			background-color: black;
			color: #fdfdfd;
			text-align: center;
			width: 100px;
			padding: 0.25rem 0.5rem;
			transition: all 0.3s;
			border-radius: 4px;

			&:after {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				background-color: black;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(4px, -50%) rotate(45deg);
			}
		}

		&:hover + label {
			visibility: visible;
			transform: translate(-140px, -26px);
			opacity: 1;
		}
	}
}
