@import '../../variables';
.catalog {
	background-color: #d8d8d8;
	padding: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	grid-gap: 100px;
	justify-content: center;
	box-shadow: inset 0 0 32px black;
	width: 100%;
}

.item {
	background-color: $dark;
	color: #fdfdfd;
	height: 250px;
	border-radius: 4px;
	padding: 1rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	button {
		margin-top: auto;
	}
}
