<%- include('../includes/header', {hide:true}) %>
<div id="content">
    <% if (message) { %>
    <h3> <%= message %> </h3>
    <% } %>
    <h1>Welcome!</h1>
    <h2>Feel free to look around.</h2>
</div>

<%- include('../includes/footer', {hide:true}) %>